# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/next-pwa/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/next-pwa/.next/
/next-pwa/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.firebase/*

# Service Worker and Workbox files
/next-pwa/public/sw.js
/next-pwa/public/workbox-*.js